.top-bar{
    -fx-background-color:  #333333;
}

.p-header{
    -fx-text-fill: #DCDDCE;
    -fx-font-size: 20px;

}

.button-menu{
    -fx-alignment: center-left;
    -fx-background-color: #333333;
    -fx-text-fill: #DCDDCE;
    -fx-font-size: 18px;
}

.button-logout{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}