.top-bar{
    -fx-background-color:  #333333;
}

.p-header{
    -fx-text-fill: #DCDDCE;
    -fx-font-size: 20px;

}

.header{
    -fx-text-fill: black;
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

.h2{
    -fx-text-fill: black;
    -fx-font-size: 25px;
    -fx-padding: 0;
}

.button:hover{
    -fx-cursor: hand;
}

.menuButton:hover{
    -fx-cursor: hand;
}

.button-menu{
    -fx-alignment: center-left;
    -fx-background-color: #333333;
    -fx-text-fill: #DCDDCE;
    -fx-font-size: 18px;
}

.button-logout{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.p{
    -fx-font-size: 15px;
}

.anchor{
    -fx-text-fill: blue;
}

.anchor:hover{

}